*{
    background-color: rgb(177, 255, 255);
}
fieldset, label, select, option, p, span{
    width: max-content;
    background-color: beige;
}
input{
    background-color: white;
}
button{
    background-color: lightgray;
}