table, th, td{
    border: 2px solid; border-color: darkgray;
    text-align: center;
}
table th{
    background-color: lightgrey;
}
table tr:nth-child(odd){
    background-color: yellowgreen;
}
table tr:nth-child(even){
    background-color: aquamarine;
}
table td:first-child{
    background-color: #E6F3FF;
}
img{
    width: 4%;
}